@import './main';

.is-primary {
  background-color: $primary;
  a, p, span, h1, h2 {
    color: white;
  }
}

.is-black {
  background-color: $black;

  a, p, span, h1, h2 {
    color: white;
  }
}

span {
  padding: 0px;
}
